html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    display: flex;
    flex-direction: column;
    background: #f5f7ff;
    font-family: 'Poppins', sans-serif;
}

section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    align-items: center;
    margin: 60px 0 60px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #124559;
}

.title img{
    height: auto;
    width: 89px;
    object-fit: contain;
    filter: drop-shadow(0 12px 25px rgba(0, 0, 0, 0.247));
}

/* Level */
.level {
    width: 260px;
    height: 300px;
    /* background: #dce3fc; */
    background-color: #12455939;
    border: 4.9px double #fff;
    color: #598392;
    border-radius: 18px;
    text-align: center;
    padding: 25px;
    transition: 0.3s;
}

.level:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.537);
}

.level_LOGO {
    padding: 15px;
}

.level-logo {
    height: 10vh;
}

/* Start Button */
.start-btn {
    display: inline-block;
    /*for box*/
    padding: 7.5px;
    width: 100%;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    transition: 0.3s;
}

.start-btn:hover {
    transform: scale(1.05);
}

.easy {
    background-color: rgb(29, 109, 29);
}

.medium {
    background-color: rgb(166, 166, 38);
}

.hard {
    background-color: rgb(209, 52, 52);
}